@model IEnumerable<DAWeb.Models.SanPham>

@*<h2>Sản Phẩm Theo Danh Mục</h2>*@

@*<div>
        @foreach (var product in Model)
        {
            <div>
                <h3>@product.TenSanPham</h3>
                <p>Giá: @product.Gia</p>
                <p>Mô tả: @product.MoTa</p>
                <img src="@product.AnhSanPham" alt="@product.TenSanPham" width="100" height="100" />
            </div>
            <hr />
        }
    </div>*@
<div class="recommended-items">
    <h2 class="title text-center">Danh mục sản phẩm: @ViewBag.CategoryName</h2>
    <ul class="products">
        @foreach (var product in Model)
        {
            <li>
                <div class="product-item">
                    <a href="@Url.Action("ChiTietSanPham", "Product", new { id = product.MaSanPham })">
                        <div class="product-top">
                            <img src="@Url.Content(product.AnhSanPham)" alt="@product.TenSanPham" class="product-thumb" />
                            <form class="buy-now" action="@Url.Action("ChiTietSanPham", "Product", new { id = product.MaSanPham })" method="get">
                                <input type="hidden" name="productId" value="@product.MaSanPham" />
                                <input type="hidden" name="quantity" value="1" />
                                <button type="submit" class="btn btn-default add-to-cart">Mua ngay</button>
                            </form>
                        </div>
                        <div class="product-info">
                            <a href="" class="product-name">@product.TenSanPham</a>
                            <div class="product-price">@product.Gia.ToString("N0") <span class='vnd-symbol'>đ</span></div>
                        </div>
                    </a>
                </div>
            </li>
        }
    </ul>

</div>
<style>

    .vnd-symbol {
        font-size: 1.1em; /* Tăng kích thước chữ */
        text-decoration: underline;
    }
</style>