<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Web Bán Giày</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    @*<link href="~/css/main.css" rel="stylesheet">*@
    <link href="~/css/main2.css" rel="stylesheet">

    <link href="~/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        <div class="header-top">
            <!--header_top-->
            <div class="col-sm-8">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!--Sidebar-->
                <div id="sidebar" class="sidebar">
                    <h2>MENU</h2>
                    <ul>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 2 })">GIÀY NIKE</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 3 })">GIÀY BALENCIAGA</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 4 })">GIÀY DIOR</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 5 })">GIÀY ADIDAS</a></li>
                    </ul>
                </div>

                <!--Đè lên nền background để làm mờ phần nền sau -->
                <div class="sidebar-overlay"></div>



                <!--Các danh mục sản phẩm trên header-->
                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li>@Html.ActionLink("SHOP", "Index", "Home")</li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 2 })">NIKE</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 3 })">BALENCIAGA</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 4 })">DIOR</a></li>
                        <li><a href="@Url.Action("SanPhamTheoDanhMuc", "Product", new { categoryId = 5 })">ADIDAS</a></li>

                    </ul>
                </div>
            </div>

            <div class="search_box pull-right">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    <input type="text" name="keyword" placeholder="Search" />
                    <button class="search_box button"><i class="fa fa-search"></i></button>
                }
            </div>


            <div class="col-sm-3">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        @*<li><a href="#"><img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/checkout.png" /> Checkout</a></li>*@
                        <li>
                            <a href="@Url.Action("Index", "Cart")">
                                <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/shopping-cart.png" />
                                Giỏ hàng
                                <span class="badge badge-light" style="position: relative; top: -10px;  background-color: white; color: red;">
                                    @ViewBag.CartItemCount
                                </span>
                            </a>

                        </li>

                        @if (Session["userLogin"] == null)
                        {
                            <li>
                                <a href="@Url.Action("Login", "User")" @*style="display: block; width: 100%; height: 100%;"*@>
                                    <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/login.png" />
                                    Đăng nhập
                                </a>
                                @*Đã chỉnh nút login trên thanh header-top khi người dùng đang ở trang đăng nhập*@
                                @*<img style="width:30px;padding:2px;margin-top:3px; position:absolute;" src="~/images/icons/login.png" />*@
                                @*@Html.ActionLink("Login", "Login", "User")*@
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("UserDetails", "User")">
                                    <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/user.png" />
                                    @Session["userLogin"]
                                </a>
                            </li>

                            //Dùng để Logout, đã ném qua hàm UserDetails
                            //<li style="top:-10px;">@Html.ActionLink("Đăng Xuất", "Logout", "User")</li>
                        }
                    </ul>
                </div>
            </div>

        </div>

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/images/home/logo.png" alt="" /></a>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    </header><!--/header-->
    <section>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Liên hệ</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Địa chỉ: Huflit</a></li>
                                <li><a href="#">Số điện thoại: 123</a></li>
                                <li><a href="#">Email: ...</a></li>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Chính sách</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Chính sách hoàn trả</a></li>
                                <li><a href="#">Hệ thống thanh toán</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Về cửa hàng</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="~/Home/AboutUs">Thông tin về chúng tôi</a></li>
                                <li><a href="#">Cơ hội nghề nghiệp</a></li>
                                <li><a href="#">Chương trình liên kết</a></li>
                                <li><a href="~/Home/WebCopyright">Bản quyền</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--Nhúng bản đồ Google Map-->
                    <div class="col-sm-3">
                        <div class="map-container">
                            <iframe class="responsive-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.290040323685!2d106.59805157427269!3d10.865530357545413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b088de30f3b%3A0xd2140740d360f705!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKSBDxqEgc-G7nyBIw7NjIE3DtG4!5e0!3m2!1svi!2s!4v1731721444604!5m2!1svi!2s" width="300" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->



    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/Scripts/maxLengthText.js"></script>
    <script src="~/Scripts/menuButton.js"></script>
    <script src="~/Scripts/SideBar.js"></script>
</body>
</html>
