@model List<DAWeb.Models.SanPham>


<div class="category-tab">
    <!--category-tab-->
    <div class="recommended-items">
        <h2 class="title text-center">Sản phẩm phổ biến</h2>
        <ul class="products">
            @foreach (var product in Model)
            {
                <li>
                    <div class="product-item">
                        <a href="@Url.Action("ChiTietSanPham", "Product", new { id = product.MaSanPham })">
                            <div class="product-top">
                                <img src="@Url.Content(product.AnhSanPham)" alt="@product.TenSanPham" class="product-thumb" />
                                <form class="buy-now" action="@Url.Action("ChiTietSanPham", "Product", new { id = product.MaSanPham })" method="get">
                                    <input type="hidden" name="productId" value="@product.MaSanPham" />
                                    <input type="hidden" name="quantity" value="1" />
                                    <button type="submit" class="btn btn-default add-to-cart">Mua ngay</button>
                                </form>
                            </div>
                            <div class="product-info">
                                <a href="" class="product-name">@product.TenSanPham</a>
                                <div class="product-price">@product.Gia.ToString("N0") <span class='vnd-symbol'>đ</span></div>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>

<div class="recommended_items">
    <!--recommended_items-->
    <!--recommended_items Nhẫn-->

    <div class="recommended_items">
        <h2 class="title text-center">NIKE</h2>


        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Action("RecommendedItems", "Product", new { categoryId = 2 })
                </div>
            </div>
        </div>
    </div>
    <!--recommended_items Vòng-->

    <div class="recommended_items">
        <h2 class="title text-center">BALENCIAGA</h2>


        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Action("RecommendedItems", "Product", new { categoryId = 3 })
                </div>
            </div>
        </div>
    </div>

    <div class="recommended_items">
        <h2 class="title text-center">DIOR</h2>
        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Action("RecommendedItems", "Product", new { categoryId = 4 })
                </div>
            </div>
        </div>
    </div>
    <div class="recommended_items">
        <h2 class="title text-center">ADIDAS</h2>


        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Action("RecommendedItems", "Product", new { categoryId = 5 })
                </div>
            </div>
        </div>
    </div>
</div><!--/recommended_items-->
<style>
    .vnd-symbol {
        font-size: 1.1em; /* Tăng kích thước chữ */
        text-decoration: underline;
    }
</style>